body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 500px;
}

td{
    font-size: 96px;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    text-align: center;
}

.configurador{
    text-align: center;
    margin-bottom: 18px;
    margin-top: 7px;
}

div input{
    margin: 15px 15px 15px 85px;
    padding: 5px;
    text-align: center;
}

#vs{
    font-size: 30px;
    text-align: center;
}

div label{
    font-size: 12px;
}

.clearfix{
    clear: both;
}

button {
    background-color: rgb(86, 238, 243);
    border: none;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 1% 2% 1% 2%;
    border-radius: 30px;
}

#botaoComecar{
    margin-top: 25px;
    margin-left: 5px;
}

#botaoRecomecar{
    display: block;
    margin:0 auto; 
    width: 200px;
    background-color: rgb(86, 238, 243);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    padding: 1% 2% 1% 2% ;
    border-radius: 30px;
}

#spanjog1, #spanjog2{
    display:inline-block;
    margin: 15px;
    font-weight: bold;
}

.turn, #resultado{
    display: block;
    text-align: center;
    color: rgb(11, 66, 185);
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
}
